mixin k2-item(img, desc, price, pc, mobile)
    -if(mobile == undefined) mobile = "";
    +b.k2-item(id="pr-#{pc}#{mobile}" prodid="#{pc}")&attributes(attributes)
        +e.img-wrapper
            +e.IMG.img(src="/images/products/#{img}")
        +e.title #{desc}
        +e.price #{price}
        +e.mera руб/кг
        +e.footer.row
            .col-xs-9
                +e.prod-counter 
                    +productcounter
            .col-xs-3.no-padding
                +e.I.cart.fa.fa-cart-plus
                    +e.popup-cart()
                        +b.popup-cart&attributes(attributes)
                            +e.treangle ▼
                            +e.I.i.fa.fa-check
                            +e.text Товар успешно добавлен в корзину!